<ion-header>
  <ion-navbar color="light">
    <ion-title>Search</ion-title>
  </ion-navbar>
  <ion-searchbar class="search-bar" [(ngModel)]="searchTerm"
                 [debounce]="500"
                 (ionCancel)="setFilteredItems()"
                 (ionInput)="setFilteredItems()"></ion-searchbar>
</ion-header>

<ion-content class="background" padding>

  <ion-list *ngIf="isLoaded && newspapers.length > 0">
    <newspaper-card *ngFor="let newspaper of newspapers"
                    class="animated fadeInUp"
                    [isFavorite]="favoritesProvider.isFavorite(newspaper)"
                    [newspaper]="newspaper"
                    (onClick)="onNewspaperClick(newspaper)"></newspaper-card>
  </ion-list>

  <ion-card *ngIf="isLoaded && newspapers.length === 0" class="no-newspapers animated flipInX">
    <ion-card-content>
      <i class="fa fa-newspaper-o newspaper-icon" aria-hidden="true"></i>
      <div>{{ searchMessage }}</div>
    </ion-card-content>
  </ion-card>

</ion-content>
